### String Functions
- upper() -- will convert string into upper case
- lower() -- will convert string into lower case
- capitalize() -- makes the string as a title

In [27]:
s1="python"
print(s1.upper())
print(s1.lower())
print(s1.capitalize())

PYTHON
python
Python

### String Boolean Functions
- True or False
- islower() -- True if string have all characters lower case
- isupper() -- True if string have all characters upper case
- istitle() -- True if string in title case
- isnumeric() -- True if string contains all numbers
- isalpha() -- True if string contains all characters
- isalnum() -- True if string contains any one of alphabets or numbers
- isspace() -- True if string contains space

In [13]:
s1="python"
print(s1.isupper())
print(s1.islower())

False
True

In [15]:
s1="Python"
print(s1.istitle())

True

In [19]:
s1="123"
print(s1.isnumeric())

True

In [20]:
s1="python"
print(s1.isalpha())

True

In [22]:
s1="123python"
print(s1.isalnum())

True

In [25]:
s1="        "
print(s1.isspace())

True

### String Methods
- split() -- splits the string with spaces
- splits('a') -- splits the string withrespect to a
- replace() -- returns the string replaces by word/character
- join() -- concatenation of two strings

In [30]:
s1="python programing learn made easy"
li=s1.split()
li

['python', 'programing', 'learn', 'made', 'easy']

In [31]:
s1="python programing learn made easy"
li=s1.split('a')
li

['python progr', 'ming le', 'rn m', 'de e', 'sy']

In [39]:
s1="python programing learn made easy a"
s1.replace('a','@',5)

'python progr@ming le@rn m@de e@sy @'

In [35]:
s1="python"
print(" ".join(s1))

p y t h o n

### String formatting
- Classic Version
- Current Version Python

In [40]:
# Classic version (c and c++)
li = ["python","programming"]
print('%s %s'%(li[0],li[1]))

python programming

In [41]:
li=[1,2,3,4]
print("%d %d %d %d"%(li[0],li[1],li[2],li[3]))

1 2 3 4

In [45]:
li = ["python","programming"]
print("List item 0:{0}\nList item 1:{1}".format(li[0],li[1]))

List item 0:python
List item 1:programming

In [46]:
li=[1,2,3,4]
print("{0} {1} {2} {3}".format(li[0],li[1],li[2],li[3]))

1 2 3 4

## Data Structures
- List
- Tuple
- Dictionaries

### Dictionaries
- It works on concept of unique data
- Key,Value is the unique Identifier a Value
- Each key is separated from value colon(:)
- Each key and value is separeated by comma(,)
- Dictionaries are enclosed with curly brackets({})

In [69]:
d1={"Name":"gitam","EmailId":"gitamvizag@gmail.com","Address":"Vizag"}
print(d1)

{'Name': 'gitam', 'EmailId': 'gitamvizag@gmail.com', 'Address': 'Vizag'}

In [67]:
d1["EmailId"]

'gitamvizag@gmail.com'

In [68]:
d1["EmailID"]="Gitam@gmail.com"#update the value key
d1

{'Name': 'gitam',
 'EmailId': 'gitamvizag@gmail.com',
 'Address': 'Vizag',
 'EmailID': 'Gitam@gmail.com'}

In [64]:
d1["GmailID"]="Gitam@gmail.com"#adds to the dictionary
d1

{'Name': 'gitam',
 'EmailId': 'gitamvizag@gmail.com',
 'Address': 'Vizag',
 'EmailID': 'Gitam@gmail.com',
 'GmailID': 'Gitam@gmail.com'}

In [65]:
d1.keys()

dict_keys(['Name', 'EmailId', 'Address', 'EmailID', 'GmailID'])

In [58]:
d1.values()

dict_values(['gitam', 'Gitam@gmail.com', 'Vizag', 'Gitam@gmail.com'])

### Contact Application
- add contact details

In [17]:
contacts = {}
def addContact(name,number):
    if name not in contacts:
        contacts[name] = number
        print ('Details Entered Successfully')
    else:
        print ("Name already Exists")
    return
addContact('Mani',9849898020)
contacts
addContact('Ravi', 9848566432)
contacts
addContact('Ravi',98482665412)

Details Entered Successfully
Details Entered Successfully
Name already Exists

In [22]:
def searchContact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("{0} does not exist".format(name))
    return
searchContact('Dinesh')
searchContact('Mani')

Dinesh does not exist
Mani : 9849898020

- .update() -- updates a dictionaries with another dictionary
- contacts.update(newContacts)
- : adds newContacts details to contacts dictionary

In [30]:
# import new contact details
# Merge previous details to new details
def importContacts(newContacts):
    contacts.update(newContacts)
    print (len(newContacts.keys()),'Contacts are added')
    return
newContacts = {"Gitam":7654654,"Ravi":4465}
importContacts(newContacts)

2 Contacts are added

In [31]:
contacts

{'Mani': 9849898020, 'Ravi': 4465, 'Gitam': 7654654}

In [36]:
def modifyContacts(name,number):
    if name in contacts:
        contacts[name] = number
        print (name , ' Updated succesfully')
    else:
        print (name," Does not exist")
    return
modifyContacts('dina', 45454)
modifyContacts('Mani',7036615570)

dina  Does not exist
Mani  Updated succesfully

In [41]:
def deleteContacts(name):
    if name in contacts:
        del contacts[name]
        print (name,"Deleted successfully")
    else:
        print(name,"Not in list")
    return
deleteContacts('dina')
deleteContacts('Mani')
contacts

dina Not in list
Mani Not in list

{'Ravi': 4465, 'Gitam': 7654654}

## Tuples
- Tuples enclosed with ()
## Differances between tuples and lists
- List are mutable -- can be changed / modify
    - read and write data
- Tuples are immutable -- cant be changed / modify
    - Read only data

In [42]:
t1 = (1,2,3,4,5)
print (t1)
type(t1)

(1, 2, 3, 4, 5)

tuple

### Standard Libraries
- Regular Expressions
    - To validate the Indian mobile Number
    - To validate Email Id
    - To validate Username
    - To validate Password
- Understanding the Regular Expressions
    - [0-9] -- Any digit matching
    - [a-z] -- Any lowercase matching
    - [A-Z] -- Any uppercase matching
    - cap symbol is used to represent the start off a regular expression
    - dollar symbol is used to represent the end of a regular expression

In [103]:
# function to test the two digit number as input
import re
def twoDigitMatching(n):
    pattern = '^[0-9]{2}$'
    n = str (n)
    if re.match(pattern,n):
        return True
    return False
print(twoDigitMatching(12))
print(twoDigitMatching(123))

True
False

In [59]:
# Regular Expression for Username
# Username -- should contain lower and uppercase characters
# Lenght -- Min 5 Max 12
def validate(s):
    if re.match('^[a-zA-Z]{5,12}$',s):
        return True
    return False
print(validate('Anilk'))
print(validate('Anil'))
print(validate('AnilKumaraaa'))
print(validate('AnilKumaraaaa'))

True
False
True
False

- Regular Expression for rollno
- Regular Expression For password
    - Parameters : min 6 max 10
    - accept lower , upper case characters as well as digits adn spl (@,!,#)

In [69]:
def checkPassword(s):
    pattern = '^[a-zA-Z@!#]{6,10}$'
    if re.match(pattern,s):
        return True
    return False
checkPassword('Babsoo@')

True

In [140]:
# regular expression for Indian mobile number
import re
def checkNumber(n):
    n = str(n)
    if re.match('^[+][9][1][6-9][0-9]{9}$|^[0][6-9][0-9]{9}$|^[[6-9][0-9]{9}$',n):
        return True
    return False
print(checkNumber('+919849898020'))
print(checkNumber('+9170366055700'))
print(checkNumber('+60624734465'))
print(checkNumber('9849898020'))
print(checkNumber('09848255567'))

True
False
False
True
True

In [164]:
# validity of EmailID
def checkEmail(s):

    pattern = '^[a-zA-Z0-9][a-zA-Z0-9_.]{5,14}[@][a-zA-Z0-9]{3,18}[.][a-z]{2,4}$'
    if re.match(pattern,s):
        return True
    return False
print(checkEmail('manipupppala55@gmail.com'))
print(checkEmail('acasca678$shdhhdv.dvb'))
print(checkEmail('RAKESH_.@4510.qwe'))

True
False
True

## Python Graphics
- lib-turtle

## Packages,Modules and Sub packages
-  a collections of modules (single python file)

In [1]:
import math
math.floor(123.456)

123

In [3]:
math.ceil(123.456)

124

In [7]:
from math import factorial as fact
fact(10)

3628800

In [14]:
from math import gcd as gcd
gcd(23,27)

1

In [1]:
import turtle
import math
a1 = turtle.Turtle()
a1.forward(100)
a1.done()

AttributeError: 'Turtle' object has no attribute 'done'

In [28]:
# random number
import random
def generateRandom(n,lb,ub):
    for i in range(0,n):
        print (random.randint(lb,ub),end = ' ')
    return
generateRandom(10,0,100)

4 6 58 40 98 0 8 39 26 68

In [33]:
from random import randint as rint
def generateRandom(n,lb,ub):
    li = []
    for i in range(0,n):
        li.append(rint(lb,ub))
    return li
generateRandom(10,0,100)

[76, 66, 28, 69, 73, 22, 80, 66, 50, 37]

In [427]:
def check(n):
    li = generateRandom(20,100,999)
    if n in li:
        print("Congo !")
    else:
        print("Try Again :( ")
    return
check(660)

Congo !

In [ ]:
import turtle as tt
a1 = tt.Turtle()
a1.goto(0,0)
a1.backward(100)
tt.done()